autodocsumm
default-values>=0.0.6
domdf-sphinx-theme>=0.0.11
extras-require
sphinx>=3.0.3
sphinx-autodoc-typehints>=1.11.0
sphinx-copybutton>=0.2.12
sphinx-notfound-page
sphinx-prompt>=1.2.0
sphinx-tabs>=1.1.13
sphinxcontrib-httpdomain>=1.7.0
sphinxemoji>=0.1.6
toctree-plus>=0.0.1
