include requirements.txt
include LICENSE
include THIRD_PARTY_COPYRIGHT
recursive-include src/pyms_nist_search *
recursive-exclude **/__pycache__ *
recursive-exclude MoNA_GCMS_Library *
recursive-exclude src/pyms_nist_search *.so