/* This file is managed by 'repo_helper'. Don't edit it directly. */

.wy-nav-content {
	max-width: 1200px !important;
}

li p:last-child {
	margin-bottom: 12px !important;
}

html {
	scroll-behavior: smooth;
}
